<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <script sro = "static/js/libs/jquery-3.3.1.js"></script>
    <link rel = "stylesheet" href = "/static/css/bootstrap.min.css">
	<script src="/static/js/libs/bootstrap.min.js" ></script>
    <link rel="stylesheet" type="text/css" href="/static/css/chatStyle.css">
    <script src = "/static/js/Chat.js"></script>
</head>
<body>
	<div class="main-section">
		<div class="head-section">
			<div class="headLeft-section">
				<div class="headLeft-sub">

					<div id="current">
						<label id="current_username"></label>
                		<button type="button" class="btn btn-primary" onclick="getAllUsers()" >Get Users</button>
            		</div>
            		<div id="users"></div>
				</div>
			</div>
		</div>
		<div class="body-section">
			<div class="left-section mCustomScrollbar" data-mcs-theme="minimal-dark">
				<ul>
					<li>
						<div class="chatList">
							<div class="img">
								<i class="fa fa-circle"></i>
								<img src="/static/images/user1.png">
							</div>
							<div class="desc">
								<small class="time">Now</small>
								<h5>Martin Vizcarra</h5>
								<small>Online</small>
							</div>
						</div>
					</li>
					<li>
						<div class="chatList">
							<div class="img">
								<img src="/static/images/user2.png">
							</div>
							<div class="desc">
								<small class="time">Now</small>
								<h5>Jeronimo Harmsen</h5>
								<small>Online</small>
							</div>
						</div>
					</li>
					<li>
						<div class="chatList">
							<div class="img">
								<i class="fa fa-circle"></i>
								<img src="/static/images/user3.png"> <!--- 01 -->
							</div>
							<div class="desc">
								<small class="time">11:50 am</small>
								<h5>Ernesto Cuadros</h5>
								<small>Busy</small>
							</div>
						</div>
					</li>
					<li>
						<div class="chatList">
							<div class="img">
								<img src="/static/images/user4.png"> <!--- 03 -->
							</div>
							<div class="desc">
								<small class="time">9:22 am</small>
								<h5>Adrian Benavides </h5>
								<small>Offline</small>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="right-section">
				<div class="message mCustomScrollbar" data-mcs-theme="minimal-dark">
					<ul>
						<li class="msg-left">
							<div class="msg-left-sub">
								<img src="/static/images/user1.png">   <!--- 03 -->
								<div class="msg-desc">
									empty
								</div>
								<small>05:21 am</small>
							</div>
						</li>
						<li class="msg-right">
							<div class="msg-left-sub">
								<img src="/static/images/user2.png">   <!--- 04 -->
								<div class="msg-desc">
									Sr. Presidente, es un gusto escribirle. Como le va?
								</div>
								<small>05:25 am</small>
							</div>
						</li>
						<li class="msg-day"><small>Today</small></li>
						<li class="msg-left">
							<div class="msg-left-sub">
								<img src="/static/images/user1.png">    <!--- 03 -->
								<div class="msg-desc">
									Estimado Jeronimo, gracias por escribirme. Aquí en el palacio estamos trabajando muy duro por el bien de todos los peruanos. Tú que tal?
								</div>
								<small>05:25 pm</small>
							</div>
						</li>
						<li class="msg-right">
							<div class="msg-left-sub">
								<img src="/static/images/user2.png">  <!--- 04 -->
								<div class="msg-desc">
									Que bueno escuchar eso Sr. Presidente, espero las reformas políticas sean resueltas exitosamente para poder gozar de todos nuestros recursos y con la mejora de la economí; haremos un mejor Perú para todos.
								</div>
								<small>05:25 pm</small>
							</div>
						</li>
						<li class="msg-left">
							<div class="msg-left-sub">
								<img src="/static/images/user1.png">   <!--- 03 -->
								<div class="msg-desc">
									Excelente Jeronimo, ese es nuestro plan de acción. Un gobierno del Perú para el Perú y no más trabas, burocracia y corrupcion. Para lo que necesites, me puedes mandar un Whatsapp! Saludos JJ
								</div>
								<small>05:27 pm</small>
							</div>
						</li>
						<li class="msg-right">
							<div class="msg-left-sub">
								<img src="/static/images/user2.png">  <!--- 04 -->
								<div class="msg-desc">
									Gracias por su tiempo Sr. Presiente, espero mantenernos en contacto. Cuente conmigo para lo que necesite. Cuidese Don Martin
								</div>
								<small>05:28 pm</small>
							</div>
						</li>
					</ul>
				</div>
				<div class="right-section-bottom">
					<form>
						<div class="upload-btn">
						  	<button class="btn"><i class="fa fa-photo"></i></button>
						  	<input type="file" name="myfile" />
						</div>

						<input type="text" name="" placeholder="type here...">
						<button type = "button" class = "btn btn-primary" onclick="sendMessage()">Send</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
</body>
</html>